build/
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lof
*.lot
*.nav
*.snm
*.vrb
*.xdv
*.dvi
/.DS_Store
/ijcai24-authors_response/.DS_Store
/main.pdf
/supplementary.pdf
/ijcai24-authors_response/ijcai24-authors-response.pdf
.vscode
ijcai24-authors_response/.vscode
code/